/* line 1, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/flashes.scss */
.flashes {
  text-align: center;
  margin: 0 auto;
}

/* line 6, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/flashes.scss */
.flash {
  border-radius: 5px;
  font-size: 110%;
  display: inline-block;
  margin: 0 auto;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.5em;
  text-align: center;
}
/* Main */
/* line 3, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_row {
  margin-top: 30px;
  border-top: 1px solid #ededed;
  padding-top: 10px;
}

/* Installation */
/* line 11, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_collapsible {
  display: none;
}

/* line 15, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_collapser {
  cursor: pointer;
}

/* User guide */
/* Panels */
/* line 23, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_leftPanels {
  background-color: #2a2a2a;
  width: 23em;
  font-size-adjust: 0.5;
}

/* line 29, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_panelTitle {
  width: 100%;
  height: 2.5em;
  background-color: #1d1d1d;
}

/* line 35, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_panelTitle h3 {
  margin: 0.3em;
  float: left;
  width: calc(100% - 1.5em);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1em;
  color: #FFF;
  text-shadow: 0px 1px 0px #111;
  font-family: sans-serif;
  line-height: 1.8em;
}

/* line 50, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_leftPanels ul {
  list-style: none;
  width: 21em;
  padding: 0em;
  margin: 0em;
}

/* line 57, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_leftPanels li {
  left: -1em;
  padding: 0px;
  margin: 0px;
  width: 23em;
}

/* line 64, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_leftPanels a:hover, a:link {
  text-decoration: none;
}

/* line 68, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_collapsible_header {
  font-size: 1.3em;
  color: #FFF;
  text-shadow: 0px 1px 0px #111;
  font-weight: bold;
  line-height: 1.2em;
  font-family: sans-serif;
  margin: 0;
  padding: 0.3em 1em;
}

/* line 79, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_collapsible_header img {
  height: 1.2em;
  margin: 0.0em;
  padding-right: 0.3em;
}

/* line 85, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_collapsible_item {
  font-size: 1em;
  color: #bdbdbd;
  background: none repeat scroll 0% 0% #373737;
  border-color: #1F1F1F;
  text-shadow: 0px 1px 0px #111;
  border-width: 1px 0px 0px;
  border-style: solid;
  line-height: 1.3em;
  font-weight: bold;
  padding: 0.7em 1em;
}

/* line 98, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_collapsible_item:hover {
  background-color: #22aadd !important;
}

/* line 102, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_btn {
  display: block;
  position: relative;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  -moz-user-select: none;
  border-width: 1px;
  border-style: solid;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: #1F1F1F;
}

/* tabs */
/* line 119, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_tab {
  width: 0;
  height: 6em;
  border-left: 2em solid;
  border-top: 1em solid transparent;
  border-bottom: 1em solid transparent;
  z-index: 1001;
  position: absolute;
  left: 25.5em;
  border-left-color: #2a2a2a;
  cursor: pointer;
}

/* line 132, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_tab img {
  position: relative;
  left: -1.7em;
  top: 1.2em;
  height: 1.45em;
}

/* line 139, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_tab:nth-of-type(1) {
  top: 6.8em;
}

/* line 143, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_tab:nth-of-type(2) {
  top: 12.8em;
}

/* line 147, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_tab:nth-of-type(3) {
  top: 18.8em;
}

/* line 151, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_tab:hover {
  border-left-color: #22aadd !important;
}

/* header */
/* line 157, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_header {
  position: absolute;
  z-index: 1000;
  display: table-column;
  vertical-align: middle;
  min-width: 0px;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
  font-size: 1em;
  line-height: 1.3;
  top: 0.25em;
}

/* line 171, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_header a {
  display: table;
  background: none repeat scroll 0% 0% #333;
  border-color: #1F1F1F;
  border-radius: 0.3125em;
  height: 1.45em;
  width: 1.45em;
  padding: 0.65em;
  margin: 0.5em 0px;
  position: relative;
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.15);
  border-width: 1px;
  border-style: solid;
}

/* line 187, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_header a:hover {
  background-color: #22aadd !important;
}

/* line 191, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_header img {
  height: 1.2em;
  border-width: 0px;
}

/* line 196, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_playFieldset {
  right: 39.2em;
}

/* line 200, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_clock {
  top: 0.8em;
  z-index: 100;
  width: 10em;
  height: 2.7em;
  background-color: #333;
  padding: 3px;
  border-radius: 5px;
  right: 28.5em;
  color: #FFF;
  text-shadow: 0px 1px 0px #111;
  line-height: 0.8em;
  font-size-adjust: 0.5;
  text-align: right;
  padding-right: 0.5em;
  cursor: pointer;
}

/* line 218, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_clock:hover {
  background-color: #22aadd !important;
}

/* line 222, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_clock p {
  font-size: 0.9em;
}

/* line 226, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_arrowFieldset {
  right: 25em;
}

/* line 230, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_translateFieldset {
  right: 22.5em;
}

/* line 234, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_rotateFieldset {
  right: 20em;
}

/* line 238, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_boxFieldset {
  right: 16.5em;
}

/* line 242, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_sphereFieldset {
  right: 13.5em;
}

/* line 246, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_cylinderFieldset {
  right: 10.5em;
}

/* line 250, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_pointlightFieldset {
  right: 7.5em;
}

/* line 254, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_spotlightFieldset {
  right: 4.5em;
}

/* line 258, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_directionallightFieldset {
  right: 1.5em;
}

/* explanations */
/* line 264, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_panel_explanation {
  float: right;
  position: absolute;
  top: 5em;
  left: 30em;
  width: 37em;
}

/* line 272, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_context_explanation {
  float: right;
  position: absolute;
  top: 41em;
  left: 30em;
  width: 37em;
}

/* Bottom guide */
/* line 282, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_bottom_guide {
  height: 37em;
}

/* radial menu */
/* line 288, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_menu {
  position: absolute;
  top: 61em;
  left: 2.5em;
}

/* line 294, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_radial a {
  border-radius: 3.3125em;
  height: 3.45em;
  width: 3.45em;
}

/* line 300, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
.gzweb_radial img {
  height: 2em;
}

/* line 304, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_delete {
  top: 5em;
  left: 0em;
}

/* line 309, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_translate {
  top: 1.5em;
  left: 2.5em;
}

/* line 314, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_rotate {
  top: 0em;
  left: 6.5em;
}

/* line 319, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_transparent {
  top: 1.5em;
  left: 10.5em;
}

/* line 324, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_wireframe {
  top: 5em;
  left: 13em;
}

/* line 329, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/gzweb.css.scss */
#gzweb_radial_joints {
  top: 9em;
  left: 11em;
}
/* line 1, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/haptix.css.scss */
.haptix-announcement {
  margin-bottom: 10px;
  margin-left: 20px;
}

/* line 6, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/haptix.css.scss */
.haptix_row {
  margin-top: 30px;
  border-top: 1px solid #ededed;
  padding-top: 10px;
}
/* line 3, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
html, body {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  -webkit-font-smoothing: auto !important;
  font-family: 'Roboto', sans-serif;
}

/* line 13, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.wrap {
  min-height: 100%;
  width: 100%;
  height: auto !important;
  margin: 0 0 -120px 0;
  padding: 0;
}

/* line 21, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.navbar-default {
  background-color: #fff;
  border: 0px;
  border-color: #fff;
}

/* line 26, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.feature-well {
  min-height: 250px;
}

/* line 30, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav > li {
  margin-left: 10px;
}

/* line 34, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav > li > a {
  background-color: transparent;
  border-bottom: 2px solid transparent;
}

/* line 39, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  border-bottom-color: #f78e1e;
  border-bottom-color: rgba(247, 142, 30, 0.25);
}

/* line 45, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  border-bottom-color: #f78e1e;
  background-color: transparent;
}

/* line 52, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.btn-custom {
  color: #ffffff;
  background-color: #808282;
  border-color: #808282;
}

/* line 57, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.btn-custom a {
  color: #ffffff;
}

/* line 60, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
  color: #ffffff;
  background-color: #737575;
  border-color: #676868;
}

/* line 68, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
  background-color: #808282;
  border-color: #808282;
  color: #ffffff;
}

/* line 85, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.jumbotron_link_button {
  margin: 10px;
  border: 1px solid #b2b2b2;
  text-align: left;
  width: 400px;
  display: inline-block;
  background-color: #e6e6e6;
  border-radius: 4px;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
}

/* line 98, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.usefullink-img {
  display: inline-block;
  float: none;
  vertical-align: top;
  margin-right: -4px;
  margin-top: 4px;
}

/* line 106, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.usefullink-item {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-left: -15px;
}

/* line 113, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.homefeature-img {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-right: -4px;
}

/* line 119, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.homefeature-title {
  display: inline-block;
  float: none;
  vertical-align: middle;
  margin-top: -10px;
}

/* line 125, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.feature-img {
  width: 54px;
  height: 54px;
}

/* line 130, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.useful-img {
  width: 35px;
  height: 35px;
}

/* line 135, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.jumbo-button {
  margin-bottom: 4px;
  width: 198px;
}

/* line 139, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.github-icon {
  margin-top: -6px;
  width: 18px;
  height: 20px;
}

/* Set the fixed height of the footer here */
/* line 146, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
#footer {
  margin-top: 180px;
  height: 120px;
  background-color: #232323;
  color: #eeeeee;
  margin-bottom: 0px;
  overflow: hidden;
  padding-top: 10px;
}

/* line 156, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.video-container-small {
  position: relative;
  padding-bottom: 56.25%;
  padding-bottom: 30px;
  padding-top: 30px;
  height: 560px;
  width: 315px;
  overflow: hidden;
}

/* line 165, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.video-container-small iframe, .video-container-small object, .video-container-small embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 174, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

/* line 181, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/* line 190, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.carousel-control {
  top: 50%;
  bottom: 50%;
}

/* line 195, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.home-blog {
  max-height: 340px;
  overflow: hidden;
}

/* line 200, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.home-blog:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 90%;
  height: 1.3em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%);
}

/* line 211, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
h1 {
  font-weight: 300;
}

/* line 215, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
h3 {
  font-weight: 300;
}

/* line 219, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.footer-social {
  border: 0;
  width: 32px;
  height: 32px;
}

/* line 225, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.footer-social-link {
  text-decoration: none;
}

/* line 229, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.inside {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #ededed));
  background: -moz-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
  background: -ms-linear-gradient(top, #f4f4f4 0%, #ededed 100%);
}

/* line 238, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.inside-full-height {
  /*
   if you want to give content full height give him height: 100%;
   with content full height you can't apply margins to the content
   content full height does not work in ie http://stackoverflow.com/questions/27384433/ie-display-table-cell-child-ignores-height-100
   */
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

/* columns of same height styles */
/* line 250, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}

/* line 256, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}

/* line 261, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.col-top {
  vertical-align: top;
}

/* line 264, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.col-middle {
  vertical-align: middle;
}

/* line 267, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.col-bottom {
  vertical-align: bottom;
}

@media (min-width: 480px) {
  /* line 272, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 278, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 283, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-xs-top {
    vertical-align: top;
  }

  /* line 286, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-xs-middle {
    vertical-align: middle;
  }

  /* line 289, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-xs-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 768px) {
  /* line 295, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .row-sm-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 301, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 306, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-sm-top {
    vertical-align: top;
  }

  /* line 309, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-sm-middle {
    vertical-align: middle;
  }

  /* line 312, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-sm-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 992px) {
  /* line 318, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 324, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 329, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-md-top {
    vertical-align: top;
  }

  /* line 332, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-md-middle {
    vertical-align: middle;
  }

  /* line 335, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-md-bottom {
    vertical-align: bottom;
  }
}
@media (min-width: 1200px) {
  /* line 341, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }

  /* line 347, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-lg-height {
    display: table-cell;
    float: none;
    height: 100%;
  }

  /* line 352, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-lg-top {
    vertical-align: top;
  }

  /* line 355, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-lg-middle {
    vertical-align: middle;
  }

  /* line 358, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .col-lg-bottom {
    vertical-align: bottom;
  }
}
/* line 364, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
.row .thumbnail:hover {
  border: 1px solid #f78e1e;
}

@media (max-width: 1400px) {
  /* line 369, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 200px;
  }
}
@media (max-width: 1200px) {
  /* line 378, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;
  }
}
@media (max-width: 920px) {
  /* line 387, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/home.css.scss */
  .truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 120px;
  }
}
.jumbotron {
  background: url(/assets/gazebo_highlight-9b782d13774757f25f931fab635667508b3c626e3984f71c6af75ceac3f6c5ec.png) no-repeat center center;
  background-size: cover;
  padding-bottom: 5px;
  padding: 0;
}

.jumboopaque {
  padding: 20px;
  background-color: rgba(240, 240, 240, 0.9);
}

.jumbo-list {
  padding-left: 0px;
}

.jumbo-list-item {
  padding: 10px;
  min-width: 100px !important;
  display: inline-block;
  text-transform: uppercase;
  font-size: 16px;
}

.carousel-item-text {
  /*background-color: rgba(245, 129, 19, 0.8);*/
  background-color: rgba(100, 100, 100, 0.8);
  height: 200px;
  margin:0;
  padding:0;
  color: #ffffff;
  text-shadow: none;
}

.carousel-item-text > a {
  color: #ffffff
}

.carousel-item-img {
  margin:0;
  padding:0;
  height: 200px;
  background-color: #ffffff;
}

.carousel-caption > h3 {
  font-weight: 600; 
}
.carousel-caption > p {
  font-weight: 400; 
}
/* line 1, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.version {
  list-style: none;
  padding-left: 0px;
}

/* line 5, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.version:before {
  content: "Versions: ";
}

/* line 8, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.version li {
  display: inline-block;
}

/* line 11, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.version li:after {
  content: "|";
  margin-left: 5px;
  speak: none;
}

/* line 16, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.version li:last-child:after {
  display: none;
  margin-left: 0px;
}

/* line 21, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
blockquote, blockquote > p {
  font-size: 100%;
}

/* line 25, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.nocopy {
  border: 1px solid #000000;
}

/* line 29, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.nocopy:before {
  content: "Do not copy. The following is for reference purposes.";
  background-color: #5b5b5b;
  display: block;
  margin-left: -9.5px;
  margin-top: -9.5px;
  margin-right: -9.5px;
  margin-bottom: 4px;
  border-bottom: 1px solid #000;
  padding: 4px;
  color: #fff;
}

/* line 42, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.tutorial .panel-body {
  height: 80px;
}

/* line 46, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.max-width-400 {
  max-width: 400px;
}

/* line 50, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.max-width-800 {
  max-width: 800px;
}

/* Control the padding for container-fluid. Used for tutorials */
@media (min-width: 1024px) {
  /* line 56, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
  }
}
/* Control the padding for container-fluid. Used for tutorials */
@media (max-width: 480px) {
  /* line 64, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* line 71, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .active > a:focus {
  color: #fff;
  background-color: #0088cc;
}

/* line 79, /opt/atlassian/pipelines/agent/build/app/assets/stylesheets/tutorials.css.scss */
.affix {
  position: fixed;
  top: 10px;
  max-width: 290px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *




 */

/*
 * jquery.tocify.css 1.9.0
 * Author: @gregfranko
 */

/* The Table of Contents container element */

.tocify {
  width: 100%;
  overflow: hidden;
}

/* The Table of Contents is composed of multiple nested unordered lists.  These styles remove the default styling of an unordered list because it is ugly. */
.tocify ul, .tocify li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

/* Top level header elements */
.tocify-header {
    text-indent: 10px;
}

/* Top level subheader elements.  These are the first nested items underneath a header element. */
.tocify-subheader {
    text-indent: 20px;
}

/* Makes the font smaller for all subheader elements. */
.tocify-subheader li {
    font-size: 12px;
}

/* Further indents second level subheader elements. */
.tocify-subheader .tocify-subheader {
    text-indent: 30px;
}

/* Further indents third level subheader elements. You can continue this pattern if you have more nested elements. */
.tocify-subheader .tocify-subheader .tocify-subheader {
    text-indent: 40px;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a, .nav-list .nav-header {
    margin: 0px;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Twitter Bootstrap Override Style */
.nav-list > li > a {
    padding: 5px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
/* Pretty printing styles. Used with prettify.js. */

/* SPAN elements with the classes below are added by prettyprint. */

.pln { color: #000 }  /* plain text */

@media screen {
  .str { color: #080 }  /* string content */
  .kwd { color: #008 }  /* a keyword */
  .com { color: #800 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #660 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

/* Put a border around prettyprinted code snippets. */
pre.prettyprint { padding: 2px; border: 1px solid #888 }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }
